
@font-face {
    font-family: Fat_Tats;
    src: local('Fat Tats'), url('../fonts/Fat Tats.ttf');
}

/* CLASS */
.menurapi{
	padding-top:40px;
}
.Kotak{
	display:block;	 
	background: linear-gradient(to bottom,  #0099cc 0%,#0099cc 100%); 
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	border-radius: 5px;	
}
.isiSearch{
	display:block;	
	background: linear-gradient(to bottom,  #0099cc 0%,#0099cc 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	border-radius: 5px;
	margin-right:-10px;
	margin-top:-5px;
	text-align:center;
	padding-top:5px;
	color:white;
		
}
/* END CLASS */

/* ID */

/* Header */
#header{
	background-color:#0099cc;
	overflow: visible;
}

#Title{
	padding-top:25px;
	padding-left:75px;
	font-size:45px;
	color:white;
	font-family:Fat_Tats;
	text-align:center;
	display:inline;
	float:left;
}
#Title2{
	color: white;
	font-family: Verdana, Geneva, sans-serif;
	margin-top:-45px;
	margin-left:95px;
}
#Title a{
	text-decoration:none;
	color:white;
}
#Title a:hover{
	color:white;
	text-decoration:underline;
}

#menu ul{
	margin:0;
	list-style:none;
	font:"Fat Tats";
	font-size:20px;
	color:white;
	margin:0;
	padding:0;
	z-index: 1000;
}

#menu ul li{
	float:left;
	position:relative;
	display:block;
}
#menu li ul{
	display:none;
}
#menu ul li a{
	display:block;
	text-decoration:none;
	color:white;
	white-space:nowrap;
	padding: 5px 15px 5px 15px;
	margin-left:-5px;
}

#menu ul li a:hover{
	background:#0099cc;
}

#menu li:hover ul{
	position:absolute;
	display:block;
}

#menu li:hover li{
	float:none;
	font-size:20px;
}
#menu li:hover a{
	background:#0099cc;
}
#menu li:hover li a:hover{
	background:#0099cc;
}
/* Content */
.judulMenu{
	margin-top:10px;
	margin-left:-10px;
	text-align:center;
	padding-top:5px;
	padding-bottom:10px;
	color:white;
}

.ukuranMenu{
	display:block;
	margin-bottom:10px;
	margin-left:-10px;
	margin-right:40px;
}

.isiMenu{
	border-right:1px solid #0099cc;
	border-bottom:1px solid #0099cc;
	border-left:1px solid #0099cc;
	margin-top:-15px;
	padding-top:8px;
	padding-bottom:5px;
	background-color:#DCF0F7;
}
.isiMenu ul{
	list-style-image:url(../images/panah.gif);
}
.isiMenu li{
	padding-top:5px;	
}
.isiMenu a{
	text-decoration:none;
	color:black;	
}
.isiMenu a:hover{
	color:#0099cc;	
}

#search{
	margin-top:10px;
	padding-top:5px;
	padding-bottom:5px;
	display:block;	
	background: linear-gradient(to bottom,  #0099cc 0%,#0099cc 100%);  
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	border-radius: 5px;
}
#cari{
	margin-left:10px;	
}

.TopBar{
	margin-top:10px;
	padding-bottom:10px;
	margin-right:-10px;
	margin-left:-50px;
	padding-top:2px;
}

.TopBar a{
	text-decoration:none;
	font-size:16px;
	color:white;
	padding-left:8px;
}

.TopBar a:hover{
	color:white;
	text-decoration:underline;
}

.JudulContent{
	background-color:#DCF0F7;
	border-top:1px dashed #0099CC;
	border-right:1px solid #0099CC;
	border-left:1px solid #0099CC;
	padding-top:15px;
	margin-top:-25px;
	margin-left:-50px;
	margin-right:-10px;
	padding-left:8px;
	font-size:14px;
	font-family:Verdana, Geneva, sans-serif;
	color:#2A31CC;
}
.JudulContent a{
	text-decoration:none;
	color:#2A31CC;
}
.JudulContent a:hover{
	color:#0099cc;	
}

.CaraBuat{
	background-color:#DCF0F7;
	margin-top:-10px;
	font-size:14px;
	font-family:Verdana, Geneva, sans-serif;
	color:#2A31CC;
}

.isiContent{
	border-right:1px solid #0099CC;
	border-bottom:1px solid #0099CC;
	border-left:1px solid #0099CC;
	margin-top:-20px;
	margin-left:-50px;
	margin-right:-10px;	
	padding-top:8px;
	padding-bottom:20px;
	background-color:#DCF0F7;
	text-align:justify;
	padding-left:8px;
	padding-right:8px;
}
.isiContent a{
	text-decoration:none;
	color:#2A31CC;
}
.isiContent a:hover{
	color:#0099cc;
	text-decoration:none;
}
.GambarContent{
	float:left;
	padding-top:5px;
	padding-right:3px;
	padding-bottom:3px;
}
.GambarResep img{
	float:right;
}

.isiIsi{
	border-right:1px solid #0099cc;
	border-bottom:1px solid #0099cc;
	border-left:1px solid #0099cc;
	margin-top:-20px;
	margin-left:-50px;
	margin-right:-10px;	
	padding-top:8px;
	padding-bottom:20px;
	background-color:#FFEAE6;
	text-align:justify;
	padding-left:8px;
	padding-right:8px;
}

.isiIsi img{
	float:right;
}

.isiIsi ul{
	list-style-image:url(../images/panah.gif);
}
.ListBuat ul{
	text-align:justify;
	margin-top:-10px;
}
.ListBuat li{
	padding-bottom:5px;	
}
/* Footer */
#titleFooter{
	padding-top:20px;
	padding-left:15px;
}
#copyright{
	color: white;
	font-family: Verdana, Geneva, sans-serif;
	font-size:10px;
	color:white;
	margin-top:-45px;
	margin-left:30px;
}
#footer{
	background-color:#0099cc;
	color:white;
}
#titleFooter a{
	font-size:45px;
	font-family:Fat_Tats;
	text-decoration:none;	
	color:white;
}

#titleFooter a:hover{
	text-decoration:underline;
	color:white;	
}

.garis{
	border-left:1px dashed white;
	margin-left:-55px;
	margin-top:5px;
}

.garis ul{
	padding-top:10px;
}

.garis a{
	color:white;
	text-decoration:none;
}

.garis a:hover{
	text-decoration:underline;
	color:white;
}

#Mutiara{
	padding-top:10px;
	padding-left:15px;
	text-align:justify;
	margin-right:-125px;	
}

#Details{
	margin-top:-20px;	
}